<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Covid Vaccine Management&nbsp;</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="src/img/favicon.png"  class="rounded-circle"rel="icon">
  <link href="src/img/TRAININGle-touch-icon.png" class="rounded-circle" rel="TRAININGle-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- CDN Files -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="src/css/icofont.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/src/owl.carousel.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.9.1/venobox.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"  rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="src/css/style.css" rel="stylesheet">

        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css"> 
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
       <link rel="stylesheet" href="https://rawgit.com/LeshikJanz/libraries/master/Bootstrap/baguetteBox.min.css">
 

  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html"><img src="logo4.jpg" alt=""></a><a href="index.html">&nbsp;&nbsp;
                                    </a></h1>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#company">Vaccine</a></li>
          <li><a href="#services">Book Vaccine</a></li>
          <li><a href="#portfolio">Vaccine Centers</a></li>
          <li><a href="#contact">Contact Us</a></li>
        <!--<li><a href="#team"></a></li>--> 

          <li><a href="" ><blink> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;☎ HelpLine No.<br>&nbsp;&nbsp;&nbsp;&nbsp;|9834761449|9657870377|</blink></a></li>
        

        </ul>
      </nav><!-- .nav-menu -->

      

    </div>
    <div class="icon-bar">
      <a href="https://www.facebook.com/coronavirus_info/" class="facebook"><i class="fa fa-facebook"></i></a> 
      <a href="https://blog.twitter.com/en_us/topics/company/2020/covid19-vaccine.html" class="twitter"><i class="fa fa-twitter"></i></a> 
      <a href="https://news.google.com/covid19/map?hl=en-IN&gl=IN&ceid=IN%3Aen" class="google"><i class="fa fa-google"></i></a> 
      <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
      <a href="https://www.youtube.com/channel/UCyH7dxHEYvCJJwnZKekM50Q" class="youtube"><i class="fa fa-youtube"></i></a> 
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
	  <h1> &nbsp;</h1>
	  <h1> &nbsp;</h1>
	  <h1> &nbsp;</h1>
	  <h1> &nbsp;</h1>
	  <h1> &nbsp;</h1>
      <h1 style="color:rgb(255, 255, 255)" ><img src="logo1.jpg" height="100px">-Vaccine Management</h1>
      <a href="#about" class="btn-get-started scrollto">Let	's Go</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-xl-6 col-lg-7" data-aos="fade-right">
            <img src="src/img/about-img.jpg" height="500" width="500"alt="">
          </div>
          <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0">
            <h3 data-aos="fade-right">About Us</h3>
            <p data-aos="fade-up">
             We are building a better, healthier future for people all over the INDIA.
Together we strive to combat diseases – communicable diseases like influenza and HIV, and noncommunicable diseases like cancer and heart diseases.
We help mothers and children survive and thrive so they can look forward to a healthy old age. We ensure the safety of the air people breathe, the food they eat, the water they drink – and the medicines and vaccines they need.
            
			</p>
            <div class="icon-box" data-aos="fade-up">
              <i class="bx bx-calendar-event"></i>
              <h4>Our Mission</h4>
              <p>To improve the health, safety, and well-being of Texans through good stewardship of public resources, and a focus on core public health function</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-line-chart"></i>
              <h4>Our Goals</h4>
              <p>Improve health outcomes through public and population health strategies, including prevention and intervention.
Optimize public health response to disasters, disease threats, and outbreaks.
Improve and optimize business functions and processes to support delivery of public health services in communities.
Enhance operational structures to support public health functions of the state.
Improve recognition and support for a highly skilled and dedicated workforce.
Foster effective partnership and collaboration to achieve public health goals.
Promote the use of science and data to drive decision-making and best practices.</p>
            </div>

            

          
        </div>
        

      </div>
    </section><!-- End About Section -->

    <!-- ======= Steps Section ======= -->
    <!-- ======= vaccine Section ======= -->
    <section id="company" class="company" >
      <div class="container">

        <div class="section-title" data-aos="fade-down">
          <h2>Vaccines</h2>
          
      </div>
      <div class="Crnvaccine" >      
        <ul>
    <ol>
      <div data-aos="fade-right">
        <a id=1 href="https://www.seruminstitute.com/product_covishield.php" class="btn" ><i class=" bx bx-search-alt-2">COVISHIELD</i><br><h5>250Rs Per dose</h5></a><br><br>
        <img src="se.jpg" height="150px" width="200px">       
      </div>
    </ol>

    <ol>
      <div data-aos="fade-up"> 
        <a id=1 href="https://www.bharatbiotech.com/covaxin.html" class="btn"><i class=" bx bx-search-alt-2">COVAXIN</i><h5>250RS Per dose</h5></a><br><br>
        <img src="bb.jpg" height="150px" width="200px">
      </div>
    </ol>  

    <ol>
      <div data-aos="fade-left">
        <a id=1 href="https://www.pfizer.com/products/coronavirus/manufacturing-and-distribution" class="btn"><i class=" bx bx-search-alt-2">COVID-19</i><h5>1,114RS Per dose</h5></a><br><Br>
        <img src="p.jpg"height="150px" width="200px">
      </div>
    </ol>
    </ul>
    </div>

        

            
        </div>
    </section><!-- End vaccine Section --> 
    
    


    

	<!-- ======= Contaner 1 ======= -->
      <section id="services" class="services" style="background-color: rgb(173, 195, 201);">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Book Vaccine</h2>
        </div>
        <div class="section-title" data-aos="fade-up">
                
          <marquee behavior="scrollto" direction="center"> 
            <p>*Vaccine is free at Government Hospital*</p>
          </marquee>
        </div>

        <div class="row no-gutters justify-content-center" data-aos="fade-up">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              
          </div>
                  </div>   
                  </div>   
                  </div>  
<div class="row mt-5 justify-content-center" data-aos="fade-up">
<div class="col-lg-10">
<form action="#" method="post" role="form" class="php-email-form">
<div class="form-row">
<div class="col-md-6 form-group">
<input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars"  required/><br>
<input type="text" name="Phone Number" class="form-control" id="Number" placeholder="Phone Number" data-rule="minlen:4" data-msg="Please enter at least 4 chars"  required/>
<div class="validate"></div>
</div>
			
<div class="col-md-6 form-group">
<input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" required/><br>
<div>
				 <br>&nbsp;&nbsp;&nbsp; Gender:&nbsp; <input type="radio" name="r1" value="Male" ng-model="Gender">Male &nbsp;
	             <input type="radio" name="r1" value="Female">Female &nbsp;
				 </div>
 <div class="validate"></div>
                </div>
				&nbsp;&nbsp;Age:&nbsp; <input type="number" size="6" name="age" min="18" max="60" value="" required>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				
Select Hospital:&nbsp;&nbsp;<select ng-model="places">
     <option></option>
     <option>Bharti Hospital</option>
     <option>Deenanath Hospital</option>
     <option>Jehangir Hospital</option>
     <option>Kamla Nheru Hospital(G)</option>
     <option>Noble Hospital</option>
     <option>Naidu Hospital</option>
     <option>yashwantrao chavan Hospital(G)</option>
     <option>Sassoon Hospital and Covid Center(G)</option>
     <option>Ruby Hall</option>
     </select>&nbsp;&nbsp;
  
	 
   &nbsp;&nbsp;&nbsp;&nbsp;Select vaccine:&nbsp;&nbsp;<select ng-model="vaccine">
    <option></option>
    <option>Serum(Covishield) </option>
    <option>Bharat-Bioteck(Covaxin)</option>
    <option>Pfizer(Covid-19)</option>
   
  </select>
	 <div>
     <br><br>&nbsp; Date :&nbsp;&nbsp; <input type="date"  ng-model="Date" required>
   &nbsp;&nbsp;Time:<input type="time" ng-model="time"pattern="([0-1][0-9]|[2][0-3]):([0-5][0-])$" required>
   &nbsp;&nbsp;<select ng-model="places" required>
    <option>AM</option>
    <option>PM</option>
    </select>

  </div>
	 </div>
            <div class="form-group">
               <br><textarea class="form-control" class="form-control" name="Address" id="Address" placeholder="Address" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" required ></textarea>
                <div class="validate"></div>
              </div>
            
   
              
              <div class="text-center"><button type="submit"> &nbsp; &nbsp;&nbsp;  Submit &nbsp; &nbsp;&nbsp;  </button></div>
              
            
            </form>
          </div>
          

        </div>		
      </div>    
    </section><!-- End Services Section -->

    <!-- ======= Vaccine Management Section	======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Vaccine centers in Pune</h2>
          <p>Although we can be relieved that some vaccines work, we still don’t have the details about the parts of the immune system that made the most difference in these trials.
		  The Pfizer/BioNTech team just completed their trial with 95% efficacy, and the Oxford vaccine team has just published the safety and immune response details on their study 
		  (it’s more good news for older people). Whether the Oxford vaccine can prevent COVID-19, however, remains to be determined.
		  So why is this news important? Vaccines are usually first tested in healthy young volunteers to confirm they are safe and to get the first 
          data on efficacy (whether they show any benefit compared with a placebo). Subsequent clinical trials test the vaccine’s efficacy in different groups of people, 
          uch as the very young or the very old, and those with other conditions – diabetes or hypertension, say – that could affect their response to the vaccine.</p>        
	</div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">ALl</li>
              <li data-filter=".filter-TRAINING">Vaccine Centers</li>
              <li data-filter=".filter-Payroll">Government Hospital</li>
              <li data-filter=".filter-web">More</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-TRAINING">
            <div class="portfolio-wrap">
              <img src="src/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Bharti Hospital</h4>
                <p>Charitable Lab</p>
                <div class="portfolio-links">
                  <a href="src/img/portfolio/portfolio-1.jpg" data-gall="portfolioGallery" class="venobox" title="view photo"><i class="bx bx-plus"></i></a>
                  <a href="https://g.page/bharatihospitalpune?share" title="Location"><i class="bx bx-navigation"></i></a>
                  <a href="https://bharatihospitals.com/" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="src/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Deenanath Hospital</h4>
                <p>Covid Lab</p>
                <div class="portfolio-links">
                  <a href="src/img/portfolio/portfolio-2.jpeg" data-gall="portfolioGallery" class="venobox" title="view photo"><i class="bx bx-plus"></i></a>
                  <a href="https://goo.gl/maps/iqSpWtFDy3iSGxDL9"  title="Location"><i class="bx bx-navigation"></i></a>
                  <a href="https://www.dmhospital.org/" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-TRAINING">
            <div class="portfolio-wrap">
              <img src="src/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Jehangir Hospital</h4>
                <p>Covid Lab</p>
                <div class="portfolio-links">
                  <a href="src/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox" title="view photo"><i class="bx bx-plus"></i></a>
                  <a href="https://g.page/Jehangir-Hospital-Pune?share"  title="Location"><i class="bx bx-navigation"></i></a>
                  <a href="https://www.jehangirhospital.com/" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Payroll">
            <div class="portfolio-wrap">
              <img src="src/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Kamla Nheru Hospital</h4>
                <p>Vaccine Center</p>
                <div class="portfolio-links">
                  <a href="src/img/portfolio/portfolio-4.jpeg" data-gall="portfolioGallery" class="venobox" title="view photo"><i class="bx bx-plus"></i></a>
                  <a href="https://goo.gl/maps/i5cgrTPkEP33CjoK8"  title="Location"><i class="bx bx-navigation"></i></a>
                  <a href="https://knmh.in/" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="src/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Noble Hospital</h4>
                <p>Hospital</p>
                <div class="portfolio-links">
                  <a href="src/img/portfolio/portfolio-5.png" data-gall="portfolioGallery" class="venobox" title="view photo"><i class="bx bx-plus"></i></a>
                  <a href="https://g.page/Noble-Hospital-Hadapsar-Pune?share"  title="Location"><i class="bx bx-navigation"></i></a>
                  <a href="https://www.noblehospitalspune.com/" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-TRAINING">
            <div class="portfolio-wrap">
              <img src="src/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Naidu Hospital </h4>
                <p> Hospital</p>
                <div class="portfolio-links">
                  <a href="src/img/portfolio/portfolio-6.jpg" data-gall="portfolioGallery" class="venobox" title="view photo"><i class="bx bx-plus"></i></a>
                  <a href="https://goo.gl/maps/t5b84tXk1qFgGmH99"  title="Location"><i class="bx bx-navigation"></i></a>
                  <a href="https://bharatihospitals.com/" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Payroll">
            <div class="portfolio-wrap">
              <img src="src/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>yashwantrao chavan Hospital</h4>
                <p>Hospital</p>
                <div class="portfolio-links">
                  <a href="src/img/portfolio/portfolio-7.jpg" data-gall="portfolioGallery" class="venobox" title="view photo"><i class="bx bx-plus"></i></a>
                  <a href="https://goo.gl/maps/zpnwY9tVuMhPQecM7"  title="Location"><i class="bx bx-navigation"></i></a>
                  <a href="http://ycmhpgi.org/" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-Payroll">
            <div class="portfolio-wrap">
              <img src="src/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Sassoon Hospital and Covid Center</h4>
                <p>Hospital</p>
                <div class="portfolio-links">
                  <a href="src/img/portfolio/portfolio-8.jpg" data-gall="portfolioGallery" class="venobox" title="view photo"><i class="bx bx-plus"></i></a>
                  <a href="https://goo.gl/maps/Xetf48if3z2hu1o88"  title="Location"><i class="bx bx-navigation"></i></a>
                  <a href="http://bjmcpune.org/hospital.htm" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="src/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Ruby Hall</h4>
                <p>Hospital</p>
                <div class="portfolio-links">
                  <a href="src/img/portfolio/portfolio-9.jpg" data-gall="portfolioGallery" class="venobox" title="view photo"><i class="bx bx-plus"></i></a>
                  <a href="https://goo.gl/maps/Q3pR72uXCspyxt4k9"  title="Location"><i class="bx bx-navigation"></i></a>
                  <a href="https://rubyhall.com/" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Corona Vaccine Section -->

<!--befor vaccination-->


<div class="slideshow-container" >

  <div class="mySlides"data-aos="fade-up">
    <q>Question IN Your Mind Before vaccination </q>
    
  </div>

<div class="mySlides"data-aos="fade-up">
  <q>1. Precautions you must take before and after getting your COVID vaccine.</q>
  <p class="author">
With the second phase of vaccine rollout in the nation, people seemed much more enthusiastic and eager to get themselves 
vaccinated for COVID-19. Reportedly, over a million of people have already got themselves vaccinated and many are still enrolling 
themselves for the same. However, while the country breathes a sigh of relief, the vaccine sure does come with a range of challenges 
and side-effects. That said, to reduce your set of ailments, here are a few precautions you can take before and after the COVID vaccine.</p>
</div>

<div class="mySlides"data-aos="fade-up">
  <q>2. Who are eligible to take COVID vaccine in the second phase?</q>
  <p class="author">In India, COVID vaccinations began for the general public on January 16th, 2021.

    On 1 March, 2021, the second phase of vaccine drive opened up for people above the age of 60 and 
    over 45 years old with comorbidities. That said, while senior citizens have been declared eligible 
    for the vaccine without any exceptions, those above 45 years of age have to get a clearance for their pre-existing conditions</p>
</div>

<div class="mySlides"data-aos="fade-up">
  <q>3. Consult with your doctor.</q>
  <p class="author">There are no possible dangers of getting yourself vaccinated if you're young and healthy. However, if you're above
     45 and someone with pre-existing medical conditions and comorbidities such as hypertension, diabetes, renal illnesses, then it is 
     crucial that you consult your doctor and ask them whether it is safe to take the vaccine jab or not. As per the Health Ministry of 
     India, persons suffering with haemophilia, should take the vaccine “under the supervision of their treating physician.”</p>
</div>


<div class="mySlides" data-aos="fade-up" > 
  <q>4. Before getting a vaccine, get a clearance for the medications you take.</q>
  <p class="author">
    Apart from consulting your doctor, you must also get a clearance for certain medications that can elevate your chances of 
    developing an allergic reaction. That said, the Health Ministry has advised patients suffering with a history of immediate or 
    delayed onset anaphylaxis or allergic reaction to pharmaceutical products, food items, injectable therapies, to not take the vaccine.</p>
</div>

<div class="mySlides"data-aos="fade-up">
  <q>5. Eat a healthy diet before getting the vaccine jab.</q>
  <p class="author">
Experts believe eating healthy before getting the COVID shot is of utmost importance, following which routine medicines should 
also be taken under the guidance of your physician.
    </p>
</div>

<div class="mySlides"data-aos="fade-up">
  <q>6. People on blood plasma or monoclonal antibodies should not take the vaccine.</q>
  <p class="author">

    People who were infected with the virus or are receiving COVID treatment in the form of blood plasma therapy or monoclonal 
    antibodies, they must refrain from taking the vaccine.</p>
</div>

<div class="mySlides"data-aos="fade-up">
  <q>7. Following the vaccination process, get yourself administered for any allergic reactions.</q>
  <p class="author">

    If you have already taken the COVID vaccine, get yourself monitored by a health care worker and see if you develop any possible side-effects or adverse reactions from the vaccine.</p>
</div>

<div class="mySlides"data-aos="fade-up">
  <q>8. In light of side-effects, do 'Not' panic.</q>
  <p class="author">

    If in case you experience certain discomfort or allergic reactions, along with pain, itchiness, fever or fatigue, do not panic but 
    relax. These are some ways in which your body's immune system reacts to the vaccine.</p>
</div>

<div class="mySlides"data-aos="fade-up">
  <q>9. You must still wear masks and practice social distancing.</q>
  <p class="author">

    Once you're vaccinated, you must continue to wear your masks at all times. Practice social distancing and maintain hygienic
     practices. Wash your hands and disinfect frequently touched surfaces.
    </p>
</div>

<a class="prev" onclick="plusSlides(-1)">❮</a>
<a class="next" onclick="plusSlides(1)">❯</a>

</div>


<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds

}
</script>



<!--befor vaccination-->

     
    
          
              </div>
              </div>
          </div>
        </div>
    

    <!-- ======= . Section ======= -->
    <section id="contact" class="contact" style="background-color: darkgray;">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Contact</h2>
          <p>We’re here to help and answer any question you might have. We look forward to hearing from you 🙂</p>
        </div>

        <div class="row no-gutters justify-content-center" data-aos="fade-up">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Vaibhav apartment,office no.21,
                  Sinhgad Road, Pune - 411051,
				  </p>
              </div>

              <div class="email mt-4">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>Covaccine@gmail.com</p>
              </div>

              <div class="phone mt-4">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+91 9834761449|9657870377</p>
              </div>

            </div>

          </div>

          
        </div>  
         
        <div class="row mt-5 justify-content-center" data-aos="fade-up">
          
          <div class="col-lg-10">
            <form action="#" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars"  required/>
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" required/>
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" required />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"required></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>		
      </div>
    </section><!-- End Contact Section -->

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Coronavirus disease (COVID-19): Vaccines</h2>
          <h1><p>F.A.Q</p></h1>
        </div>

        <div class="faq-list">
          <ul>
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">Is there a vaccine for COVID-19? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                <p>
                  Yes there are now several vaccines that are in use. The first mass vaccination programme started in early December 2020 and as of and as of 15 February 2021, 175.3 million vaccine doses have been administered. At least 7 different vaccines (3 platforms) have been administered.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-2" class="collapsed">Will COVID-19 vaccines provide long-term protection? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                <p>
                  Because COVID vaccines have only been developed in the past months, it’s too early to know the duration of protection of COVID-19 vaccines. Research is ongoing to answer this question. However, it’s encouraging that available data suggest that most people who recover from COVID-19 develop an immune response that provides at least some period of protection against reinfection – although we’re still learning how strong this protection is, and how long it lasts.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-3" class="collapsed">How quickly could COVID-19 vaccines stop the pandemic? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                <p>
                  The impact of COVID-19 vaccines on the pandemic will depend on several factors. These include the effectiveness of the vaccines; how quickly they are approved, manufactured, and delivered; the possible development of other variants and how many people get vaccinated.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-4" class="collapsed">What are the benefits of getting vaccinated?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-4" class="collapse" data-parent=".faq-list">
                <p>
                  The COVID-19 vaccines produce protection against the disease, as a result of developing an immune response to the SARS-Cov-2 virus.  Developing immunity through vaccination means there is a reduced risk of developing the  illness and its consequences. This immunity helps you fight the virus if exposed. Getting vaccinated may also protect people around you, because if you are protected from getting infected and from disease, you are less likely to infect someone else.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" href="#faq-list-5" class="collapsed">How will we know if COVID-19 vaccines are safe?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="faq-list-5" class="collapse" data-parent=".faq-list">
                <p>
                  Ensuring the safety and quality of vaccines is one of WHO’s highest priorities. WHO works closely with national authorities to ensure that global norms and standards are developed and implemented to assess the quality, safety and efficacy of vaccines. 
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End F.A.Q Section -->



<!-- slider -->


  </main>
  <!-- End #main -->


  <!-- ======= Footer ======= -->
  
  <footer id="footer">
    <div class="footer-top">
       <div class="footer-info" >
     <ul>
      <li><div data-aos="zoom-in"><img src="pro1.png"><H1>WEAR MASK</H1></div></li>
      <li><div data-aos="zoom-in"><img src="pro2.png"><H1>WASH HANDS</H1></div></li>
      <li><div data-aos="zoom-in"><img src="pro3.png"><H1>STAY AT HOME</H1></div></li>
    </ul>
    </div>

  <a href="#" id="back2Top"class="back-to-top"><i class="bx bxs-send"></i></a>

  <!-- Cloudflare JS CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.9.1/venobox.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.jst></script>

</body>
  <!-- Template Main JS File -->
  <script src="src/js/main.js"></script>

</body>
 <script src="skrollr.js"></script>
    
    <script type="text/javascript">
    var s = skrollr.init();
    </script>

</html>